[submodule "exercises/libft"]
	path = exercises/libft
	url = git@github.com:mateo-covacho/libft.git
[submodule "exercises/ft_printf"]
	path = exercises/ft_printf
	url = git@github.com:mateo-covacho/ft_printf.git
[submodule "exercises/get_next_line"]
	path = exercises/get_next_line
	url = git@github.com:mateo-covacho/get_next_line.git
